@charset "UTF-8";

/* 타블렛 가로&노트북 */
@media screen and (min-width:1024px) and (max-width:1280px) {
    /* common */
    html, body, .wrap{
        min-width: 1024px;
        max-width: 1280px;
    }
    .cont{padding: 0 5%;}
    /* header */
    header{padding: 10px 30px;}
    /* top */
    .top{
        width: 60px; height: 60px;
        line-height: 4.5;
        font-size: 15px;
    }
    .top::before{top: 10px;}

    /* main */
    .main {padding: 10% 3%;}
    .main h2{font-size: 100px;}
    .main::after{height: 12%;}
    .main .down{bottom: 10%;}

    /* profile */
    .profile > .typing{
        font-size: 35px;
        letter-spacing: 12px;
        top: 120px;
    }
    .profile > .typing::after{height: 40px;}
    .profile > .my{
        margin-top: 95px;
        gap: 30px;
    }
    .profile > .my::after{right: -15px;}
    .profile > .my::before{left: -15px;}
    /* my */
    .my{font-size: 16px;}
    .name > li{margin-bottom: 12px;}
    .name > .mypicture{width: 250px; height: 350px;}
    /* history */
    .history{width: 55%;}
    .history h4{font-size: 24px; margin-bottom: 20px;}
    /* skill */
    .history .skill_ex{
        width: calc(100% - 25px); height: 75px;
        padding: 0 25px;
    }
    .history .skill_ex p, .history .skill_ex.on > p{font-size: 16px;}
    .history .skill{padding-left: 13px;}
    .skill > li{height: 50px;}
}

/* 타블렛 세로 */
@media screen and (min-width:768px) and (max-width:1023px) {
    .main{background: #111; z-index: 100;}
    
}

/* 모바일 가로&타블렛 세로 */
@media screen and (min-width:480px) and (max-width:767px) {
    .main{background: rebeccapurple; z-index: 100;}
}

/* 모바일가로&타블렛 세로 mini */
@media screen and (max-width:479px) {
    .main{background: darkorange; z-index: 100;}
}